*{
    scroll-behavior: smooth;
}
body{
  margin:0 auto;
  padding:0 auto;
  overflow-y:hidden;
  overflow-x:hidden;
}

#container{
  margin:0 auto;
  padding:0 auto;
  height:100vh;
  width:600%;
  display:flex;
}
#top{
  margin:0 auto;
  padding:0 auto;
  height:100vh;
  width:100%;
  text-align:center;
  display:block;
}
#top .top_title{
  position:relative;
  top:40%;
  left:2%;
  margin:0 auto;
  padding:0 auto;
}
#top h1{
  font-size:60px;
    z-index:1;
    padding:25px;
    padding-bottom:75px;
}
#top p{
  position:relative;
  font-size:45px;
  letter-spacing:10px;
  transition:0.3s;
  margin:0 auto;
  padding:0 auto;
}
#top p:hover{
  transition:0.3s;
  letter-spacing:17.5px;
}
#top a{
  text-decoration:none;
  color:black;
}
#top .img_top{
  width:15%;
  opacity:0.4;
  z-index:-9;
  position:relative;
  left:-8%;
  top:100px;
  transform:rotate(10deg);
}
